body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;

    color: #BFCAD4;
    
}

input,
textarea,
select {
    outline: none;
    font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}








body {
    background-color: #3D4146;
    border: 24px solid #fff;
    box-sizing: border-box;
}

 

* {
    transition: all .1s ease-in;
}



.header {
    padding: 20px 0;
    margin: 0 auto ;
    text-align: center;
    background-color: #4B5056;
    
}


.logo {
    font-size: 34px;
    margin: 0 0 5px 0;
    color: #E97D7F;
}   


.logo1 {
    font-size: 24px;
    color: #E97D7F;

}

.text:before {
    content:"(";    
}

.text:after {
    content:")";   
}  
    




.list {
    list-style: none;
    background-color: #3D4146;
    padding: 40px 0;
    margin: 0 auto;
    max-width: 800px;
    flex-grow: 1;
}

.list li {
    text-align: left;
    padding: 18px 10px;
    font-size: 28px;
    color: #fff;
    background-color: #87829B;
    
}

.text {
    display: inline-block;
    font-size: 19px;
    color: #BFCAD4;

}

li:nth-child(2n) {
    background-color: #797590;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px; 
}

li:hover {
    background-color: #625F75;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

li:active {
    background-color: #EF887A;
    
}




input[type="checkbox"]:checked + .through{
    text-decoration: line-through;
    color: #A19FAB;
}

input[type="checkbox"]:checked +.text{
    text-decoration: line-through;
    color: #A19FAB;
}


.footer {
    
    text-align: center;
    padding: 22px 0px;
    font-size: 24px;
    background-color: #4B5056;
    color:#E97D7F; 
    max-width: 800px;
    margin: 0 auto;
}
